/* From template.css */

body, div, p, span, a,
h1, h2, h3, h4, h5, h6,
dl, dt, dd, ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

input, button, textarea, select {
  font: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Project-specific settings */

body {
  border: 1px solid #ddd;
  margin: 1em;
  padding: 1em;
}

.disclosure-nav {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 30%;
}

button::after {
  content: ' > ';
}

ul.submenu {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 0.25em 1em;
  z-index: 10;
}

ul.submenu.hide {
  display: none;
}

ul.submenu > li {
  display: block;
  padding: 4px 0;
}

ul.submenu > li > a {
  text-decoration: none;
}

main > h2 {
  font-size: 135%;
  margin: 1em 0 0.5em;
}
